
html {
    color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
  background-color: rgba(0, 0, 0, 0.932);
  }
  
  .form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #f70000;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  .form-register a {
    color: white;
    text-decoration: none;
  }
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  header{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    text-align: end;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 0px;
  cursor: pointer;
}
.card:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(246, 47, 47, 0.853), 0 4px 8px rgba(68, 20, 20, 0.06);
}
a{
  text-decoration: none;
  color:white;
}
a:hover{
  color:red;
}
 #promoBannerBackground{
    background: repeating-linear-gradient(
  -55deg,
  #ffffffe6,
  rgb(79, 79, 79) 10px,
  rgb(255, 253, 253) 10px,
  rgb(39, 39, 39) 20px
);
}
.Mid {
    text-align: center;
    text-decoration: none;
    color: aliceblue;
}
.fondoh2 {
 color: aliceblue;
 width: auto;
 text-align: center;
}

.resolucion {
  width: 99%;
  text-align: center;
}
/**Movil**/
@media (max-width: 767px) {
  .desktop {
      display: none;
  }
  .tablet {
      display: none;
  }
}
/**Tablet**/
@media (min-width: 768px) and (max-width: 990px) {
  .desktop {
      display: none;
  }
  .movil {
      display: none;
  }
}
/**Escritorio**/
@media (min-width: 991px) {
  .tablet {
      display: none;
  }
  .movil {
      display: none;
  }
}
.movilfont {
  font-size: 16px;
}
h1 {
  color: white;
}
.spant {
  color: red;
}
h5 {
  color: white;
  text-decoration-line: underline;
}
.subrayado {
  text-decoration-line: underline;  color:silver

}