.grid-layout2{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: stretch;
    width: 50%;
    margin: 0 auto;
    font-size: small;
    @include FontStyle;
  }
  .caja{
    padding: 0px;
    border: 5px solid black;
    background-color: rgb(31, 25, 25);
    margin: 15px;
    text-align: center;
    line-height: 20px;
  }